[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=DateDiffCalculator
Icon=datediffcalculator.png
Exec=harbour-datediffcalculator

